/* base style */

body {
    background-image: url("images/cork-wallet.png");
}

.navbar {
    padding: 0;
    border-bottom: solid 2px silver;
}

#name {
    padding: 10px;
    background-color: #4aaaa5;
}

.navbar-light
.navbar-brand {
    color: #fff;
}

/* main content */

#main-content {
    margin-top: 20px;
}

.main-body,
.contact {
    background-color: #fff;
    border: solid 1px silver;
}

.mainImg {
    float: left;
}

.main-body {
    margin-bottom: 10px;
}

.contact {
    height: 130px;
}

.conImg {
    padding: 0;
    text-align: center;
}

/* contact */

button {
    margin-bottom: 10px;
}

.btn {
    background-color: #49AAA4;
    border: none;
}

.btn:hover {
    background-color: silver;
}

/* Portfolio */

.portGallery {
    text-align: center;
}

figcaption{
    position: relative;
    color: #fff;
    background-color: #4aaaa5;
    height: 50px;
    width: 250px;
    margin: auto;
    opacity: .8;
}
/* footer */

footer {
    text-align: center;
    color: #fff;
    padding: 15px 0 15px 0;
    margin-top: 20px;
    border-top: 3px solid #49AAA4;
    background-color: #666666;
}

/* media queries */

@media (max-width: 500px) {
    #main-content {
        width: 95%;
    }

    .mainImg {
        margin-bottom: 5px;
    }
}
@media (min-width: 768px) and (max-width: 960px) {
    .contact {
        height: 200px;
    }
}

@media (min-width: 960px) {

    .main-body {
        margin-left: 1rem;
    }

    .mainImg {
        padding-right: 10px;
    }
}