/* base style */

body {
    background-image: url("images/cork-wallet.png")
}
.navbar {
    padding: 0;
}

#name {
    padding: 10px;
    background-color: #4aaaa5;
}

.navbar-light
.navbar-brand {
    color: #fff;
}
